@import "tailwindcss";

/* Tailwind v4'te 'class' bazlı dark mode ayarı */
@variant dark (&:where(.dark, .dark *));

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* Butona bastığında devreye girecek olan kısım */
.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
}

@layer base {
  body {
    background-color: var(--background);
    color: var(--foreground);
    @apply antialiased;
  }
}
